<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianqiwei.springsecuritydemo.mapper.UserStatusMapper">

    <resultMap id="BaseResultMap" type="com.qianqiwei.springsecuritydemo.pojo.UserStatus">
            <id property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="accountnonexpired" column="AccountNonExpired" jdbcType="TINYINT"/>
            <result property="accountnonlocked" column="AccountNonLocked" jdbcType="TINYINT"/>
            <result property="credentialsnonexpired" column="CredentialsNonExpired" jdbcType="TINYINT"/>
            <result property="enabled" column="Enabled" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,AccountNonExpired,AccountNonLocked,
        CredentialsNonExpired,Enabled
    </sql>
</mapper>
